
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>设置头像-班级说说</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        body{
            padding-top: 100px;
        }
        #cuowukuang{
            display: none;
        }
    </style>

</head>

<body>

<% include header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="container">
    <!-- Example row of columns -->
    <div class="row col-lg-6">
        <h1>更改头像</h1>
        <form method="post" action="/dosetavatar" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">请选择图片</label>
                <input type="file" class="form-control" id="touxiang" name="touxiang" placeholder="用户名，可以是中文，不能和别人重复">
            </div>
            <button type="submit" id="shangchuan" class="btn btn-default">上传</button>
        </form>
    </div>
</div> <!-- /container -->
<hr>

<footer>
    <p>&copy; 2016 Company, Inc.</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
